fastapi[all]==0.109.1
requests
pydantic
PyMuPDF
pypdf
wheel
torch
tqdm
jwcrypto
asgi-correlation-id
sentence-transformers
docling
markdown
markitdown
markdown-pdf
pdfkit
mindsdb_sdk
agno
pylance
chonkie
yfinance
lancedb
tantivy
azure-ai-inference
aiohttp
openai==1.73.0
mcp
boto3
anthropic
qdrant-client
tavily-python
sqlalchemy
litellm
cohere